

aside#profilenav{
	position: relative;
	height: 600px;
	width: 250px;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: rgba(96,96,96,.050);


}

div.myimage img{
margin-top: 10px;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
box-shadow: 0 2px 8px 0;
}


div.slinks a{
background: url(../images/facebook.jpg) no-repeat;
position: relative;
display: inline-block;
background-position: 0px 0px;
background-size: 40px 50px;
}


section#article1 {
	
	background-color: rgba(96,96,96,.050);
	position: relative;
	width: 700px;
	height: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 25px;
	display: block;
	float: left;
	padding-top: 10px;
	box-shadow: 0px 4px 8px 2px; 
	border-top: 5px solid black;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(#2E3BA0, transparent);
    background-image:
        -moz-linear-gradient(#000, transparent),
        -moz-linear-gradient(#000, transparent)
    ;
    background-image:
        -o-linear-gradient(#000, transparent),
        -o-linear-gradient(#000, transparent)
    ;
    background-image: 
        linear-gradient(black, transparent),
        linear-gradient(black, transparent)
    ;
    -moz-background-size:5px 100%;
    background-size:5px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}

section#article1:hover{
	background-image: url(../images/myphoto.png);
	background-size: 700px 510px;
	background-position: 0px 0px;
}

header.subheader{

	position: relative;
	display: block;
	text-indent: center;
	font-family: "Calibri(bold)", "MS Trebechet", sans-serif;
	font-size: 50px;
	color: solid black;

}

h2.Me{
	text-indent: center;
	font-size: 40px;
	position: relative;
}

b,p,article{
font-family: "Calibri", "MS Trebechet", sans-serif;
font-size: 20px;
font-style: italic;
color: black;
padding-left: 20px;
margin-left: 20px;
margin-right: 20px;
margin-left: 20px;
display: block;

	}

footer{
	position: relative;
	height: 50px;
	background-color: #0c1c7f;
	width: auto;
	margin-bottom: 0px;
	margin-top: 80px;
	box-shadow: 0 2px 1px 0px;
	clear: both;
}

h4 {
	position: relative;
	text-align: center;
	padding-top: 10px;
	font-family: "Calibri(bold)", "MS Trebechet", sans-serif;
	color: white;
}


div#menu{
	background-color: #0c1c7f;
	box-shadow: 0px 2px 2px 0px;
	display: block;
	width: auto;
	height: 50px;
	position: relative;
	clear: both;
}


div#menu ul{
	
	list-style: none;
	float: right;
	position: relative;
}
div#menu ul li a{
	background: url("../images/homemenu.png") no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	height: 48px;
	width: 115px;
	text-indent: -9999px;
	position: relative;
	}

ul li{
	display: inline;
}
div#menu ul li:first-child a{

background-position: 0px 4px;
}
div#menu ul li:first-child a:hover{
opacity: .4;
}

div#menu ul li:nth-child(2) a{
background-position: -119px 4px;
}

div#menu ul li:nth-child(2) a:hover{
opacity: .4;
}

div#menu ul li:nth-child(3) a{
background-position: -235px 4px;
}
div#menu ul li:nth-child(3) a:hover{
opacity: .4;
}


.listimg{
	display: block;
	position: relative;
	margin-left: 350px;
	margin-right: 0px;
	height: 300px;
	width: 400px;
	margin-top: 50px;
	box-shadow: 2px 0px 2px 2.5px;
}

.listimg:hover{
	opacity: .8;
	box-shadow: 2px 0px 2px 2.5px;
}



div#container{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background-image: url(../images/background-gradient.jpg);
}


h3{
	position: relative;
	text-align: center;
	font-family: "Calibri", "Ms Trebechet", sans-serif;
	}

h4{
	position: relative;
	margin-left: 10px;
	font-family: "Calibri", "Ms Trebechet", sans-serif;
	

}
body{
	margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px;
	

}