aside#article1
{
	float: right;
	font-family: "Press start 2p", "Ms Trebechet", sans-serif;
	font-size: 10px;
	color: white;
	clear: both;
}

article#myarticle
{
	text-align: left;
	color: white;
	clear: both;
	font-family: "Press Start 2P", "Ms Trebechet", sans-serif;
	font-size: 15px;
}
body
{	
	background-color: white;
	background-image: url("../images/Background-Web4.jpeg");
	background width: 100%;
	background height: 100%;
}


h1{
	font-size: 35px;
	font-family: "Press Start 2P", "Ms Trebechet", sans-serif;  
	color: white;
	border-bottom: dotted;
	border-bottom-width: 10px
}

section#sidebar{
text-align: center;
color: blue;
font-family: "Press start 2p", "Ms Trebechet", sans-serif;
}

footer#pagefooter{
	text-align: center; 
	font-family: "Press Start 2p", "Ms Trebechet", sans-serif;
	font-size: 15px;
	color: white;
	bottom: 300px;
}
small
{
	color: white;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul#bullets{
	list-style-type: square;
	color: white;
}

a:hover{
	color: white;
	background-color: green;
}

li:hover{
	color: black;
	background-color: transparent;

}
.center{
text-align:center;
}
div#floater {
	position: absolute;
	bottom: 500px;
	left: 600px;
	color: red;
	font-family: "Press start 2p", "Ms Trebechet", sans-serif;
	font-size: 25px;
}
table#first{
	font-family: "Press start 2p", "MS Trebechet", sans-serif;
	color: black;
	position: absolute;
	background-color: white;
	bottom: 500px;
	border-style: groove;
	border-color: blue;
	border: 5px;
}
table#best{
	position: bottom;
	background-color: white;
	border-color: orange;
	border-style: groove;
	border-width: 5px;
	width: 100%;
	height: 150px;
	text-align: center;
}
.firstrow:nth-of-type(odd){
	color: blue;
}
.firstrow:nth-of-type(even){
	background-color: yellow;
}

.pos_fixed
{
position: fixed    
}

th{background-color: black;
border: solid green;
color: white;
font-family: "Press Start 2P", "Ms Trebechet", sans-serif;
}
td{
	border:solid black;
}
tr#table_header{
	border-color: blue;
}
p:first-child{color: yellow;}

p:nth-child(2){background-color: purple;}

p:last-child{background-color: green};

p:nth-last-child(2){
background-color: orange;
border-width: 10px;
border-style: groove;
}

.bestcol:last-of-type{
	color: yellow;
	background-color: purple;
}

.bestcol:nth-last-child(3){
	background-color: green;
	color: yellow;
}

.bestcol:first-of-type{
	color: white;
	background-color: blue;
	}
.bestcol:nth-of-type(3){
	color: red;
	background-color: black;
}

footer{
	color:yellow;
}